[submodule "Educational/Hands-On-Machine-Learning/CH14 Deep Computer Vision Using Convolutional Neural Networks/Digit-Recognizer-APP"]
	path = Educational/Hands-On-Machine-Learning/CH14 Deep Computer Vision Using Convolutional Neural Networks/Digit-Recognizer-APP
	url = https://github.com/sayedgamal99/Digit-Recognizer-APP
