Educational/Hands-On-Machine-Learning/CH10 Introduction to Artificial Neural Networks with Keras/my_logs/
Educational/Hands-On-Machine-Learning/CH10 Introduction to Artificial Neural Networks with Keras/my_fashion_mnist/
