Educational/Hands-On-Machine-Learning/CH10 Introduction to Artificial Neural Networks with Keras/my_logs/
Educational/Hands-On-Machine-Learning/CH10 Introduction to Artificial Neural Networks with Keras/my_fashion_mnist/
Educational/Hands-On-Machine-Learning/CH10 Introduction to Artificial Neural Networks with Keras/Exercises/best_model.h5
Educational/Hands-On-Machine-Learning/CH10 Introduction to Artificial Neural Networks with Keras/Exercises/my_mnist_logs/
Educational/Hands-On-Machine-Learning/CH10 Introduction to Artificial Neural Networks with Keras/Exercises/my_mnist_model/
Educational/Hands-On-Machine-Learning/CH11 Training Deep Neural Networks/my_model_A/
Educational/Hands-On-Machine-Learning/CH11 Training Deep Neural Networks/Exercises/models
Educational/Hands-On-Machine-Learning/CH12 Custom Models and Training with TensorFlow/saved_models/
Educational/Hands-On-Machine-Learning/CH13 Loading and Preprocessing Data with TensorFlow/datasets/
Educational/Hands-On-Machine-Learning/CH13 Loading and Preprocessing Data with TensorFlow/ignored/
Educational/Hands-On-Machine-Learning/CH13 Loading and Preprocessing Data with TensorFlow/__pycache__
Educational/Hands-On-Machine-Learning/CH13 Loading and Preprocessing Data with TensorFlow/Exercises/ignored/
Educational/Hands-On-Machine-Learning/CH16 Natural Language Processing with RNNs and Attention/logs